.dashboard-main {
    padding: 1rem;
    width: 100%;
}

.popular_content {
    margin: 1.5rem 0;
}

.d_title {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 0;
}

.d_medias {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.5rem;
}

.d_medias img {
    /* margin: 0 1em; */
    width: 12rem;
    height: 100%;
}

.dashGraf {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.charts {
    display: grid;
}

.charts .item {
    width: 100%;
    height: 100%;
}