.movieInfoMain{
    padding: 1rem;
    width: 100%;
}
.body{
    display: flex;
    align-items: center;
    margin-top: 2em;
    justify-content: space-around;
    padding: 2em;
}
.info{
    line-height: 1cm;
    padding: 1cm;
}
.img{
    width: 125px;
}