.userInfoMain{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.userInfo{
    padding: 3rem;
    line-height: 1cm;
    margin-top: 3cm;
}